<!DOCTYPE html >
<html>
	<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
	<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
	<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
	<!--[if gt IE 8]><!-->
	<!--<![endif]-->
	<body>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>ToDo</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link rel="stylesheet" href="styles/styles.css">
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<script src="scripts/modernizr-2.6.2.min.js"></script>

		<!--[if lt IE 7]>
		<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
		<![endif]-->
		<!-- Add your site or application content here -->
		<div class="page-header span9 centred">
			<h1>SIMPLE TODO LIST</h1>
			<small>FROM RUBY GARAGE</small>
		</div>
		
		<div id='listsList' class="span9 centred">			
			<ul data-bind="foreach: lists">				 					 	
						 <form class="form-inline">
						 	<legend id="listLegend">
						 		 <i class="icon-list-alt"></i>
								 <span data-bind="text: name, visible: !Editable()"></span>
								 <input data-bind='value: name, visible: Editable(), event: $root.stopEditing'	/>	
							 
						<div class="btn-toolbar">
				 		 <div class="btn-group">
					 		 -<button type="submit" data-bind='click: $root.editList, visible: !Editable()' class="btn">
					 		 	<i class="icon-pencil"></i>
					 		 </button>					 		 						 		 
					 		 <button type="submit" data-bind='click: $root.removeList, visible: !Editable()' class="btn">
					 		 	<i class="icon-trash"></i>
					 		 </button>
					 		 <button type="submit" data-bind='click: $root.saveList, visible: Editable()' class="btn">
					 		 	<i class="icon-save"></i>
					 		 </button>
					 		 <button type="submit" data-bind='click: $root.cancelEdit, visible: Editable()' class="btn">
					 		 	<i class="icon-undo"></i>
					 		 </button>
				 		 </div>
				 		 </div>
				 		 
						</legend>			 
						
												 							 												 						 		 				 				 		 
	 				 		 
				 		
				 	   
 
				 		 				 		 						 		 					 		
				 		<div class = "tasksTable">																
								<table class="table table-bordered">
								<tbody data-bind="foreach: tasks" id="sortable">
									<tr>
										<td>
										<!--<input data-bind='value: complete' />-->
										 <input type="checkbox" data-bind="checked: complete" />
										</td>
										<td>
										<span data-bind="text: description, enable: complete "></span>	
										<input data-bind='value: description, visible : false' />																			
										</td>
										<td>
						<div class="btn-toolbar">
				 		 <div class="btn-group">
				 		 	 <button type="submit" data-bind='click: $root.sortTask' class="btn btn-mini">
					 		 	<i class="icon-sort"></i>
					 		 </button>
					 		 <button type="submit" data-bind='click: $root.editTask' class="btn btn-mini">
					 		 	<i class="icon-pencil"></i>
					 		 </button>
					 		 <button type="submit" data-bind='click: $root.removeTask' class="btn btn-mini">
					 		 	<i class="icon-trash"></i>
					 		 </button>
				 		 </div>
				 		 </div>
										</td>
									</tr>
								</tbody>
							</table><a href='#' data-bind='click: $root.addTask'>Add task</a></td>							
					 </div>							
			</form>						 
			</ul>
			
			<p>
				<button data-bind='click: addList'>
					Add TODO List
				</button>
				<button data-bind='click: save, enable: lists().length > 0'>
					Save to JSON
				</button>
			</p>
			<textarea data-bind='value: lastSavedJson' rows='5' cols='60' disabled='disabled'> </textarea>
		
		</div>
		
		<div class="panel-footer span9 centred">
			&copy Ruby Garage
		</div>
					
		<script src="http://code.jquery.com/jquery-1.10.1.min.js" type="text/javascript"></script>
		<script src="scripts/jquery.tmpl.js" type="text/javascript"></script>
		<script>
			window.jQuery || document.write('<script src="scripts/jquery.js"><\/script>')
		</script>
		<script src="scripts/knockout.js" type="text/javascript"></script>
		<script src="scripts/app1.js" type="text/javascript"></script>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
			var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
			( function(d, t) {
					var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
					g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
					s.parentNode.insertBefore(g, s)
				}(document, 'script'));
		</script>
	</body>
</html>