[class*="span"].centred {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.page-header { text-align: center;
			 background:transparent !important; }
.panel-footer { text-align: center }
    
    
html { 
     background-image: url('../img/background.jpg');
     background-repeat: no-repeat;      
 	  display: compact;	
 }

 .body {
     background-color: transparent;       
 }
 
.form-horizontal {
	  text-align:left;
  	  background-color:#fff;
}

.btn-toolbar {
	float:right;
}


 

